{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    <div class="row">
        <div class="col-md-8">
            {% csrf_token %}
            {{form | crispy}}
            <br>
            <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-database"></i> 
                Login</button>
            </div>
        </div>
        <br>
        </div>
    </div>
    <br> 
</form>
{% endblock content %}